
[igoprotect_config] ####################################################################################################


validator_ad_id = 1018
manager_mnemonic = wire library wheat smile water pause excuse sunset cupboard cabbage supply talk attend lake weasel margin boss clarify suggest book feed tool refuse above slice
use_algokit = True


[algo_client_config] ###################################################################################################

# Localnet
algod_config_server = http://localhost:4001
algod_config_token = aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
indexer_config_server = http://localhost:8980
indexer_config_token = aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
kmd_config_server = http://localhost:4002
kmd_config_token = aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa


[node_config] ##########################################################################################################

sleep_time_s = 10
logging_level = DEBUG
